@{
    ViewData["Title"] = "租借場地";
}

<h1 class="text-center display-4 my-4">租借場地</h1>

<div class="container">
<div class="row" id="FacilityContainer"></div>
</div>

<script src="~/js/facility.js" asp-append-version="true"></script>