<!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>國立臺東大學租借網 - @ViewData["Title"] </title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

    </head>
    <body>
    <header>
        <!-- Offcanvas Sidebar -->
        <nav class="navbar navbar-dark bg-secondary navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">國立台東大學租借網</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">最新活動</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Rent" asp-action="RentPage">租借場地</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Rent" asp-action="MyRent">我的租借</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                帳戶
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" id="login-button" asp-controller="AuthBtn" asp-action="Login">登入</a></li>
                                <li><a class="dropdown-item" id="logout-button">登出</a></li>
                                <li><a class="dropdown-item" id="register-button" asp-controller="AuthBtn" asp-action="Register">創建帳號</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    @*顯示提示訊息*@
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Hello</strong>
                <small>Now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Log in to continue
            </div>
        </div>
    </div>

    
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
